@import "src/assets/scss/colors";
@import "src/assets/scss/variables";
@import "src/assets/scss/class-group";

.main-btn{
  display: inline-flex;
  height: 48px;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-10;
  -webkit-border-radius: $border-radius-10;
  -moz-border-radius: $border-radius-10;
  -ms-border-radius: $border-radius-10;
  -o-border-radius: $border-radius-10;
  border: none;
  &.main-btn-gray-light{
    background-color: $gray-light-color;
    color: $black-color;
    &:hover{
      background-color: $gray-light-hover-color;
    }
  }
  &.main-btn-primary{
    background-color: $primary-color;
    color: $white-color;
    &:hover{
      background-color: $primary-hover-color;
    }
  }
  &.main-btn-primary-gradient{
    background-image: $primary-gradient-color;
    color: $white-color;
    &:hover{
      background-image: $primary-gradient-hover-color;
    }
  }
  &.main-btn-flat{
    height: unset;
    padding: unset;
    background-color: transparent;
  }
}

.main-circle-btn{
  @extend .transition-smooth;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: white;
  display: flex;
  align-items:center;
  justify-content: center;
  filter: drop-shadow($main-smooth-drop-shadow);
  -webkit-filter: drop-shadow($main-smooth-drop-shadow);
  color: $primary-color!important;
  &:hover{
    background-color: $primary-color;
    color: white!important;
    mat-icon{
      color: white!important;
    }
  }
}
