@import "src/assets/scss/variables";
*{
  font-family: Poppins;
}
a{
  text-decoration: none!important;
  cursor: pointer!important;
}

.buttons-group-space{
  content: "";
  display: inline-block;
  height: 100%;
  width: $buttons-group-space;
}

.cursor-pointer{
  cursor: pointer;
}

// .mat-mdc-card{
//   --mdc-elevated-card-container-color: unset!important;
// }
