$base-font-size: 16px;
$spacing-unit: 8px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xl: 1200px;
$border-radius-10: 10px;
$buttons-group-space: 24px;
$page-content-height: calc(100vh - 144px - 449px);
$checkbox-size: 20px;
$main-border-radius: 20px;
$main-shadow-color: rgba(43, 40, 38, 0.03);
$main-smooth-shadow: 0px 7px 12px 6px $main-shadow-color;
$main-smooth-drop-shadow: 0px 7px 12px $main-shadow-color;
